* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 微软雅黑,'Courier New', Courier, monospace;
    font-size: 16px;
}
ul {
    list-style-type: none;
}
a{
    text-decoration: none;
}

/*header*/
header {
    top: 0;
    width: 100%;
    height: 118px;
    background: linear-gradient( rgb(97, 97, 97), rgba(128, 128, 128, 0.05));
}
.logo {
    float: left;
    height: 100px;
    width: 40%;
}
header nav {
    float: right;
    width: 30%;
    margin-top: 1%;
    text-align: right;
    font-size: 100%;
}
header ul {
    list-style-type: none;
}
header nav ul li {
    display: inline;
    margin: 2%;
    padding: 2%;
    text-align: right;
    color: black;
    
}
header nav ul li a {
    text-decoration: none;
}

header nav ul li a:link {
    color: rgba(255, 255, 255, 0.7);
}
header nav ul li a:visited {
    color: black;
}
header nav ul li:hover {
    color: black;
    border-bottom: 2px solid white;
}
header nav ul li a:active {
    color: black;
}
/*banner*/
.banner {
    position: relative;
    margin: 0 auto;
    width: 100%;
}
.Rotation-chart {
    position: relative;
    width: 830px;
    height: 380px;
    z-index: 5;
    margin: 0 auto;
    overflow: hidden;
}
.wrap {
    position: absolute;
    width: 5810px;
    height: 380px;


}
.Rotation-chart .wrap img {
    float: left;
    width: 830px;
    height: 380px;
}
.Rotation-chart .buttons {
    position: absolute;
    right: 330px;
    bottom:20px;
    width: 180px;
    height: 25px;
    z-index: 2;
}
.Rotation-chart .buttons span {
    margin-left: 7px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    text-align: center;
    color:white;
    cursor: pointer;
}
.Rotation-chart .buttons span.on{
    background-color: gray;
}
.Rotation-chart .arrow {
    position: absolute;
    top: 40%;
    color: white;
    padding:0px 14px;
    border-radius: 50%;
    font-size: 50px;
    z-index: 2;
    display: none;
    text-decoration: none;
}
.Rotation-chart .arrow_left {
    left: 10px;
}
.Rotation-chart .arrow_right {
    right: 10px;
}
.Rotation-chart:hover .arrow {
    display: block;
}
.Rotation-chart .arrow:hover {
    background-color: rgba(0,0,0,0.2);
}
.introduction {
    position: absolute;
    top: 35%;
    left: 20.5%;
    z-index: 20;
}
.introduction input {
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
}
.submit {
    margin-left: -40px;
    background-image: url("../image/search.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}
.introduction p {
    font-size: 150%;
}
.QGshop {
    font-size: 200%;
    font-weight: 550;
    background-color: rgba(255, 255, 255, 0.568);
}
/*container-one*/
.container-one {
    position: relative;
    width: 100%;
    height: 40%;
    display: block;
    z-index: 10;
    text-align: center;
}
.container-one ul {
    width: 80%;
    margin: 1% auto;
}
.container-one ul li {
    display: inline;
    font-size: 120%;
    color: white;
    margin: 3% 4%;
    padding: 1%;
    border: 1px solid white;
    background: linear-gradient(rgba(128, 128, 128, 0.3), rgb(49, 49, 49));
}
.container-one ul li a:hover {
    color: black;
}
.container-one ul li a:visited {
    color: black;
}
.container-one ul li a:link {
    color: black;
}
.container-one .row-one {
    vertical-align: top;
    position: relative;
    width: 800px;
    height: 400px;
    
}
.container-one .row-two {
    vertical-align: top;
    width: 800px;
    height: 400px;
}
.container-one .row-one ul a {
    float: left;
}
.container-one .row-two ul a {
    float: left;
}
.container-one .product {
    display: inline;
}
.container-one .select {
    margin: 5% 0;

}

.centerline {
    background-color: black;
    width: 80%;
    height: 2px;
    margin: 0 auto;
}

/*container-two*/
.container-two {
    position: relative;
    width: 100%;
    height: 40%;
    z-index: 10;
    text-align: center;
}

/*sidebar*/
.sidebar {
    position: fixed;
    right: 1.5%;
    top: 20%;
    z-index: 20;
}
.sidebar img {
    width: 35px;
    height: 35px;

}
.sidebar ul li {
    background-color: rgba(128, 128, 128, 0.521);
    margin: 7% 0;
    padding: 3%;
    width: 40px;
    height: 40px;
    text-align: center;
}


footer {
    width: 100%;
    height: 20%;
    background: linear-gradient(rgba(128, 128, 128, 0.1), rgb(49, 49, 49));
    clear: both;
    text-align: center;
    z-index: 10;
}
.footer-top {
    display: table;
    width: 90%;
    line-height: 170%;
}
.content-L {
    display: table-cell;
    width: 40%;
    vertical-align: center;
}
.content-L p{
    text-align: left;
    margin-top: 2%;
    margin-left: 20%;
}
.content-M ul li {
    display: block;
    text-align: center;
}
.content-M {
    display: table-cell;
    width: 35%;
    vertical-align: center;
}
.content-R {
    display: table-cell;
    width: 25%;
    vertical-align: center;
    text-align: left;
}
.content-R img {
    width: 8%;
    height: 12%;
}
.content-R .QR {
    width: 40%;
    height: 50%;
}
.end-line {
    border-block-end: 1px dashed rgba(255, 255, 255, 0.6);
}
.end {
    color: rgba(255, 255, 255, 0.6);

}
.end p {
    font-size: 90%;
}

.hide{
    display: none;
}
.c1{
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    background: rgba(0,0,0,.5);
    z-index: 30;
}
.c2{
    background-color: white;
    position: fixed;
    width: 400px;
    height: 300px;
    top: 50%;
    left: 50%;
    z-index: 30;
    margin-top: -150px;
    margin-left: -200px;
    border-radius: 5%;
    text-align: center;
} 
.c2 .login {
    margin-top: 5%;
}
.c2 .login span {
    font-size: 150%;
}
.c2 p input {
    margin: 0;
    margin-top: 3%;
    padding: 3%;
    padding-left: 12%;
    font-size: 90%;
    border-radius: 5%;
}


@font-face {
    font-family: Font-one; 
    src:url("../font-family/SF-Pro.ttf"); 
}
.c2 .text {
    margin-top: 7%;
    background-image: url("../image/user-name.png");
    background-position: left;
    background-repeat: no-repeat;
}
.c2 .password {
    background-image: url("../image/password.png");
    background-position: left;
    background-repeat: no-repeat;
}
.c2 .sign-in{
    margin: 0;
    margin-top: 3%;
    cursor:pointer;
    padding: 2%;
    font-size: 100%;
    border-radius: 5%;
    background: linear-gradient(transparent, rgb(136, 136, 136), rgb(32, 32, 32));
}
.c2 .close{
    margin: 0;
    margin-top: 3%;
    cursor:pointer;
    padding: 2%;
    font-size: 100%;
    border-radius: 5%;
    background: linear-gradient(transparent, rgb(136, 136, 136), rgb(32, 32, 32));
}
.next {
    margin: 0 auto;
    margin-top: 4%;
}
.next .left {
    text-align: left;
}
.next .right {
    text-align: right;
}
.next .left a {
    padding: 0 6%;
    font-size: 100%;
    color: black;
    text-align: center;
}
.next .right a {
    padding: 0 6%;
    color: black;
}
.next a:link {
    color: black;
}
.next a:hover {
    color: gray;
}
.next a:active {
    color: gray;
    border-bottom: 1px solid gray;
}