* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 微软雅黑,'Courier New', Courier, monospace;
    font-size: 16px;
}
ul {
    list-style-type: none;
}
a{
    text-decoration: none;
}
h2 {
    margin: 5px auto;
}
input {
    outline:none;
}

.all {
    min-width: 1280px;
}
/*header*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 118px;
    background: linear-gradient( rgb(97, 97, 97), rgba(128, 128, 128, 0.05));
    z-index: 100;
}
.logo {
    float: left;
    height: 100px;
    width: 40%;
}
header nav {
    float: right;
    width: 30%;
    margin-top: 1%;
    text-align: right;
    font-size: 100%;
}
header ul {
    list-style-type: none;
}
header nav ul li {
    display: inline;
    margin: 2%;
    padding: 2%;
    text-align: right;
    color: black;
    
}
header nav ul li a {
    text-decoration: none;
}

header nav ul li a:link {
    color: rgba(255, 255, 255, 0.7);
}
header nav ul li a:visited {
    color: black;
}
header nav ul li:hover {
    color: black;
    border-bottom: 2px solid white;
}
header nav ul li a:active {
    color: black;
}
.header-container {
    top: 0;
    width: 100%;
    height: 118px;
}
/*banner*/
.banner {
    position: relative;
    margin: 0 auto;
    width: 90%;
}
/*分类栏*/
.classify {
    float: left;
    width: 12%;
    text-align: center;
}
.classify h2 {
    background-color: black;
    color: white;
    padding: 6px;
    z-index: 32;
}
.classify ul {
    border: 1px solid rgba(128, 128, 128, 0.6);
    padding: 6px;
    z-index: 35;
}
.classify ul li {
    height: 30px;
    z-index: 30;
}
.service-two {
    display: none;
    position: absolute;
    top: 54px;
    left: 144px;
    width: 600px;
    height: 310px;
    border: 1px solid black;
    z-index: 100;
}
#service li dl{
    position: relative;
    left: 138px;
    top: -28px;
    width: 600px;
    height: 294px;
    background: rgba(255, 255, 255, 0.8);
    display: none;
    padding: 8px 10px;
    border: 1px solid black;
    z-index: 30;
}
.recommend a img {
    width: 120px;
    height: 90px;
    margin-top: 5px;
}
.recommend a img:hover {
    border: 1px solid black;
}
#service li dt{
    position: relative;
    width: 150px;
    line-height: 30px;
    height: 30px;
    background: rgb(5, 5, 5);
    color: #fff;
    text-align: center;
}
#service li dd a{
    position: relative;
    display: inline-block;
    height: 20px;
    width: 70px;
    font-size: 14px;
    color: #424242;
    text-align: left;
}
#service li dd a:hover{
    text-decoration: underline;
}

/*轮播*/
.Rotation-chart {
    position: relative;
    width: 830px;
    height: 380px;
    z-index: 5;
    margin: 0 0 0 13%;
    overflow: hidden;
}
.wrap {
    position: absolute;
    width: 5810px;
    height: 380px;


}
.Rotation-chart .wrap img {
    float: left;
    width: 830px;
    height: 380px;
}
.Rotation-chart .buttons {
    position: absolute;
    right: 290px;
    bottom: 12px;
    width: 180px;
    height: 25px;
    z-index: 2;
}
.Rotation-chart .buttons span {
    margin-left: 7px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    text-align: center;
    color:white;
    cursor: pointer;
}
.Rotation-chart .buttons span.on{
    background-color: gray;
}
.Rotation-chart .arrow {
    position: absolute;
    top: 40%;
    color: black;
    padding: 0px 11px;
    border-radius: 50%;
    font-size: 40px;
    z-index: 2;
    display: none;
    text-decoration: none;
}
.Rotation-chart .arrow_left {
    left: 10px;
}
.Rotation-chart .arrow_right {
    right: 10px;
}
.Rotation-chart:hover .arrow {
    display: block;
}
.Rotation-chart .arrow:hover {
    background-color: rgba(0,0,0,0.2);
}
.introduction {
    position: absolute;
    top: 35%;
    left: 25%;
    z-index: 20;
}
.introduction input {
    color: black;
    border: none;
    z-index: 2;
}
.introduction .search{
    position: relative;
    margin: 1.5% 9% 0 3%;
    background-color: transparent;
}
.searchframe {
    width: 380px;
    height: 40px;
    margin: 8px 0;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 3.28px 3.774px 9.9px 1.1px rgba(0, 0, 0, 0.11);
}
.submit {
    cursor: pointer;
    float: right;
    margin: 0.5% 0 0 1%;
    padding: 0;
    border: none;
    background: transparent;
}
.submit img {
    float: left;
    width: 30px;
    height: 30px;
}
.introduction p {
    font-size: 150%;
    color: white;
}
.QGshop {
    font-size: 200%;
    font-weight: 550;
    color: black;
    background-color: rgba(255, 255, 255, 0.568);
}
/*container-one*/
.container-one {
    position: relative;
    width: 100%;
    height: 40%;
    margin: 5% 0;
    display: block;
    z-index: 10;
    text-align: center;
}
/*导购导航*/
.container-one ul {
    margin: 1% 0;
}
.container-one ul li {
    display: inline;
    font-size: 120%;
    margin: 3% 4%;
    padding: 1%;
    background-color: black;
    border-radius: 5%;
}
.container-one ul li a:link {
    color: white;
}
.container-one ul li a:visited {
    color: white;
}
.container-one ul li a:hover {
    font-weight: 550;
    color: black;

}
.container-one nav ul li:hover {
    border: 2px solid black;
    background-color: white;
}


.container-one .allproduct {
    position: relative;
    margin: 0 auto;
    text-align: center;
}
.container-one .row-one {
    vertical-align: top;
    position: relative;
    margin: 0 auto;
    width: 800px;
    height: 250px;
}
.container-one .row-two {
    vertical-align: top;
    position: relative;
    margin: 0 auto;
    width: 800px;
    height: 250px;
}
.container-one p {
    text-align: left;
}
.container-one .row-one ul a {
    float: left;
}
.container-one .row-two ul a {
    float: left;
}
.container-one .product {
    display: inline;
}
.container-one .select {
    margin: 5% 0;
}
/*中间线*/
.centerline {
    background-color: black;
    width: 80%;
    height: 2px;
    margin: 10px auto;
}

/*container-two*/
.container-two {
    position: relative;
    width: 100%;
    height: 40%;
    z-index: 10;
    text-align: center;
}

/*sidebar*/
.sidebar {
    position: fixed;
    right: 1.5%;
    top: 20%;
    z-index: 20;
}
.sidebar img {
    width: 35px;
    height: 35px;

}
.sidebar ul li {
    background-color: rgba(128, 128, 128, 0.521);
    margin: 7% 0;
    padding: 3%;
    width: 40px;
    height: 40px;
    text-align: center;
}


footer {
    width: 100%;
    height: 20%;
    background: linear-gradient(rgba(128, 128, 128, 0.1), rgb(49, 49, 49));
    clear: both;
    text-align: center;
    z-index: 10;
}
.footer-top {
    display: table;
    width: 90%;
    line-height: 170%;
}
.content-L {
    display: table-cell;
    width: 40%;
    vertical-align: center;
}
.content-L p{
    text-align: left;
    margin-top: 2%;
    margin-left: 20%;
}
.content-M ul li {
    display: block;
    text-align: center;
}
.content-M {
    display: table-cell;
    width: 35%;
    vertical-align: center;
}
.content-R {
    display: table-cell;
    width: 25%;
    vertical-align: center;
    text-align: left;
}
.content-R img {
    width: 8%;
    height: 12%;
}
.content-R .QR {
    width: 40%;
    height: 50%;
}
.end-line {
    border-block-end: 1px dashed rgba(255, 255, 255, 0.6);
}
.end {
    color: rgba(255, 255, 255, 0.6);

}
.end p {
    font-size: 90%;
}
footer a:link {
    color: black;
}
footer a:visited {
    color: black;
}
footer a:hover {
    color: white;
}
footer .content-L a:link {
    color: rgb(63, 63, 63);
}
footer .content-L a:visited {
    color: purple;
}
footer .content-L a:hover {
    color: white;
}




/*登录注册*/
.hide{
    display: none;
}
.c1{
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    background: rgba(0,0,0,.5);
    z-index: 30;
}
.c2{
    position: fixed;
    width: 400px;
    height: 305px;
    top: 50%;
    left: 50%;
    z-index: 30;
    margin-top: -150px;
    margin-left: -200px;
    text-align: center;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.8);
} 
.c3{
    position: fixed;
    width: 400px;
    height: 310px;
    top: 50%;
    left: 50%;
    z-index: 30;
    margin-top: -150px;
    margin-left: -200px;
    text-align: center;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.8);
} 
.title {
    margin-top: 2%;
}
.title img {
    height: 91px;
    width: 146px;
}
.title span {
    font-size: 190%;
}
.c2 p input {
    margin: 0;
    margin-top: 2%;
    padding: 3%;
    padding-left: 12%;
    font-size: 82%;
    border-radius: 18px;
}
.c3 p input {
    margin: 0;
    margin-top: 2%;
    padding: 3%;
    padding-left: 12%;
    font-size: 82%;
    border-radius: 18px;
}
/*字体*/
@font-face {
    font-family: Font-one; 
    src:url("../font-family/SF-Pro.ttf"); 
}
.text {
    margin-top: 1%;
    background-image: url("../image/user-name.png");
    background-color: rgba(253, 252, 252, 0.8);
    background-position: left;
    background-repeat: no-repeat;
    border: 1px solid black;
}
.password {
    margin-bottom: 1%;
    background-image: url("../image/password.png");
    background-color: rgba(253, 252, 252, 0.8);
    background-position: left;
    background-repeat: no-repeat;
    border: 1px solid black;
}
.sign-in{
    margin: 0;
    margin-top: 3%;
    cursor:pointer;
    padding: 2%;
    font-size: 100%;
    font-weight: 600;
    border-radius: 5%;
    background: linear-gradient(rgba(219, 219, 219, 0.6), rgba(250, 248, 248, 0.8), rgb(136, 136, 136,0.6));
    border: 1px solid black;
}
.close {
    margin: 0;
    margin-top: 3%;
    cursor:pointer;
    padding: 2%;
    font-size: 100%;
    font-weight: 600;
    border-radius: 5%;
    background: linear-gradient(rgba(136, 136, 136,0.6), rgb(250, 248, 248, 0.8), rgb(136, 136, 136,0.6));
    border: 1px solid black;
}

.next {
    margin: 0 auto;
    margin-top: 4%;
}
.next .left {
    text-align: left;
}
.next .right {
    text-align: right;
}
.next .left a {
    padding: 0 10%;
    font-size: 100%;
    color: black;
    text-align: center;
}
.next .right a {
    padding: 0 10%;
    color: black;
}
.next a:link {
    font-weight: 400;
}
.next a:visited {
    font-weight: 600;
}
.next a:hover {
    font-weight: 600;
}
.next a:active {
    font-weight: 800;
    border-bottom: 1px solid gray;
}

/*动态类牛顿摆装饰*/
.loader {
    margin: 10px, 0;
    padding: 5%, 0;
}
.loader span {
    position: relative;
    margin: 0 10px; 
    width: 500px;
    height: 50px;
    background-color: black;
}
.loader span::before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background-color: black;
}
.loader span:first-child {
    animation: moving-left 3s infinite;
    animation-direction: alternate;
}
.loader span:last-child {
    animation: moving-right 3s infinite;
    animation-direction: alternate;
}
@keyframes moving-left {
    0%{
        left: 99px;
    }
    50%{
        left: 200px;
    }
    100%{
        left: 99px;
    }
}
@keyframes moving-right {
    0%{
        right: 99px;
    }
    50%{
        right: 200px;
    }
    100%{
        right: 99px;
    }
}

/*响应式布局*/
/* ----------- */
@media only screen
and (min-width : 1340px)
and (max-width : 958px) {
/* Styles如上 */
}
/* ----------- */
@media only screen
and (min-width : 1450px) {
    .all {
        width: 1450px;  /*凝胶布局*/
        margin-left: auto;
	    margin-right: auto;
    }
}
/* ----------- */
@media only screen
and (max-width : 958px) {

}