* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
    font-size: 16px;
}
ul {
    list-style-type: none;
}
a{
    text-decoration: none;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}
h2 {
    margin: 5px auto;
}
input {
    outline:none;
}

.all {
    min-width: 1280px;
}
/*页眉*/
header {
    position: fixed;
    top: 0;
    width: 1355px;
    height: 118px;
    background: linear-gradient( rgb(97, 97, 97), rgba(128, 128, 128, 0.05));
    z-index: 100;
}
/*左侧logo*/
.logo {
    float: left;
    height: 100px;
    width: 40%;
}
/*右侧导航*/
header nav {
    float: right;
    width: 30%;
    margin-top: 1%;
    text-align: right;
    font-size: 100%;
}
header ul {
    list-style-type: none;
}
header nav ul li {
    display: inline;
    margin: 2%;
    padding: 2%;
    text-align: right;
    color: black;
    
}
header nav ul li a {
    text-decoration: none;
}

header nav ul li a:link {
    color: rgba(255, 255, 255, 0.7);
}
header nav ul li a:visited {
    color: white;
}
header nav ul li:hover {
    color: black;
    border-bottom: 2px solid white;
}
header nav ul li a:active {
    color: black;
}
.header-container {
    top: 0;
    width: 100%;
    height: 118px;
}
/*banner*/
.banner {
    position: relative;
    margin: 0 auto;
    width: 90%;
}
/*分类栏*/
.classify {
    float: left;
    width: 12.5%;
    margin: 0 0 0 3%;
    text-align: center;
}
/*一级分类*/
.classify h2 {
    background-color: black;
    color: white;
    padding: 6px;
    z-index: 32;
}
.classify ul {
    border: 1px solid rgba(128, 128, 128, 0.6);
    padding: 6px;
    z-index: 35;
}
.classify ul li {
    height: 30px;
    z-index: 30;
}
/*二级分类*/
#service li dl {
    position: relative;
    left: 144px;
    top: -28px;
    width: 600px;
    height: 294px;
    background: rgba(255, 255, 255, 0.8);
    display: none;
    padding: 8px 10px;
    border: 1px solid black;
    z-index: 30;
}
#service li dt {
    position: relative;
    width: 150px;
    line-height: 30px;
    height: 30px;
    background: rgb(5, 5, 5);
    color: #fff;
    text-align: center;
}
#service li dt :visited {
    color: white;
}
#service li dd a {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 70px;
    font-size: 14px;
    color: #424242;
    text-align: left;
}
#service li dd a:hover {
    text-decoration: underline;
}
/*用心推荐*/
.recommend a img {
    width: 120px;
    height: 90px;
    margin-top: 5px;
}
.recommend a:hover {
    border: 0;
}
.recommend a img:hover {
    border: 1px solid black;
}
/*轮播*/
.Rotation-chart {
    position: relative;
    width: 830px;
    height: 380px;
    z-index: 5;
    margin: 0 auto;
    overflow: hidden;
}
.wrap {
    position: absolute;
    width: 5810px;
    height: 380px;
}
.Rotation-chart .wrap img {
    float: left;
    width: 830px;
    height: 380px;
}
.Rotation-chart .buttons {
    position: absolute;
    right: 290px;
    bottom: 12px;
    width: 180px;
    height: 25px;
    z-index: 2;
}
.Rotation-chart .buttons span {
    margin-left: 7px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    text-align: center;
    color:white;
    cursor: pointer;
}
.Rotation-chart .buttons span.on{
    background-color: gray;
}
.Rotation-chart .arrow {
    position: absolute;
    top: 40%;
    color: black;
    padding: 0px 11px;
    border-radius: 50%;
    font-size: 40px;
    z-index: 2;
    display: none;
    text-decoration: none;
}
.Rotation-chart .arrow_left {
    left: 10px;
}
.Rotation-chart .arrow_right {
    right: 10px;
}
.Rotation-chart:hover .arrow {
    display: block;
}
.Rotation-chart .arrow:hover {
    background-color: rgba(0,0,0,0.2);
}
/*轮播图中文字以及搜索框*/
.introduction {
    position: absolute;
    top: 35%;
    left: 28%;
    z-index: 20;
}
.introduction input {
    color: black;
    border: none;
    z-index: 2;
}
.introduction .search{
    position: relative;
    margin: 1.5% 6% 0 3%;
    background-color: transparent;
}
.searchframe {
    width: 380px;
    height: 40px;
    margin: 8px 0;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 3.28px 3.774px 9.9px 1.1px rgba(0, 0, 0, 0.11);
}
.submit {
    cursor: pointer;
    float: right;
    margin: 1% 2% 0 1%;
    padding: 0;
    border: none;
    background: transparent;
}
.submit img {
    float: left;
    width: 30px;
    height: 30px;
}
.introduction p {
    font-size: 150%;
    color: white;
}
.QGshop {
    font-size: 200%;
    font-weight: 550;
    color: black;
    background-color: rgba(255, 255, 255, 0.568);
}
/*第一板块*/
.container-one {
    position: relative;
    width: 100%;
    height: 40%;
    margin: 5% 0;
    display: block;
    z-index: 10;
    text-align: center;
}
/*导购导航*/
.container-one ul {
    margin: 2% 0 1% 0;
}
.container-one ul li {
    display: inline;
    font-size: 120%;
    margin: 3% 4%;
    padding: 1%;
    background-color: black;
    border-radius: 5% 5% 0 0;
}
.container-one ul li a:link {
    color: white;
}
.container-one ul li a:visited {
    color: white;
}
.container-one ul li a:hover {
    font-weight: 550;
    color: black;

}
.container-one nav ul li:hover {
    border: 2px solid black;
    background-color: white;
}
/*商品展示*/
.container-one .allproduct {
    position: relative;
    margin: 0 auto;
    text-align: center;
}
.container-one .row-one {
    vertical-align: top;
    position: relative;
    margin: 0 auto;
    width: 865px;
    height: 315px;
}
.container-one .row-two {
    vertical-align: top;
    position: relative;
    margin: 0 auto;
    width: 865px;
    height: 315px;
}
.container-one .row-three {
    vertical-align: top;
    position: relative;
    margin: 0 auto;
    width: 865px;
    height: 315px;
}
.container-one p {
    text-align: left;
    margin: 0 10px;
}
.container-one .row-one ul a {
    float: left;
}
.container-one .row-two ul a {
    float: left;
}
.container-one .row-three ul a {
    float: left;
}
.container-one .product {
    display: inline;
    margin: 0 10px;
}
.container-one .select {
    margin: 5% 0;
}
.product img {
    position: relative; 
    box-shadow: 0 0 10px black; 
}
/*鼠标扫过闪亮*/
.light-one{ 
    cursor: pointer; 
    position: absolute; 
    left: -200px; 
    top: 0; 
    width: 200px; 
    height: 200px;
    z-index: 100;
    background-image: -moz-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0)); 
    background-image: -webkit-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0)); 
    transform: skewx(-25deg); 
    -o-transform: skewx(-25deg); 
    -moz-transform: skewx(-25deg); 
    -webkit-transform: skewx(-25deg); 
} 
.light-two{ 
    cursor: pointer; 
    position: absolute; 
    left: 100px; 
    top: 0; 
    width: 200px; 
    height: 200px;
    z-index: -1;
    background-image: -moz-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0)); 
    background-image: -webkit-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0)); 
    transform: skewx(-25deg); 
    -o-transform: skewx(-25deg); 
    -moz-transform: skewx(-25deg); 
    -webkit-transform: skewx(-25deg); 
}
.light-three{ 
    cursor: pointer; 
    position: absolute; 
    left: 350px; 
    top: 0; 
    width: 200px; 
    height: 200px;
    z-index: -1;
    background-image: -moz-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0)); 
    background-image: -webkit-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0)); 
    transform: skewx(-25deg); 
    -o-transform: skewx(-25deg); 
    -moz-transform: skewx(-25deg); 
    -webkit-transform: skewx(-25deg); 
} 
.light-four { 
    cursor: pointer; 
    position: absolute; 
    left: 530px; 
    top: 0; 
    width: 200px; 
    height: 200px;
    z-index: -1;
    background-image: -moz-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0)); 
    background-image: -webkit-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0)); 
    transform: skewx(-25deg); 
    -o-transform: skewx(-25deg); 
    -moz-transform: skewx(-25deg); 
    -webkit-transform: skewx(-25deg); 
} 
.product:hover .light-one{ 
    left: 100px; 
    -moz-transition: 0.4s; 
    -o-transition: 0.4s; 
    -webkit-transition: 0.4s; 
    transition: 0.4s; 
}
.product:hover .light-two{ 
    left: 300px; 
    -moz-transition: 0.3s; 
    -o-transition: 0.3s; 
    -webkit-transition: 0.3s; 
    transition: 0.3s; 
    z-index: 100;
}
.product:hover .light-three{ 
    left: 530px; 
    -moz-transition: 0.3s; 
    -o-transition: 0.3s; 
    -webkit-transition: 0.3s; 
    transition: 0.3s;
    z-index: 100;
}
.product:hover .light-four{ 
    left: 800px; 
    -moz-transition: 0.5s; 
    -o-transition: 0.5s; 
    -webkit-transition: 0.5s; 
    transition: 0.5s;
    z-index: 100; 
}
/*商品样式*/
.container-one .price{
    font-size: 110%;
    color: rgb(113, 2, 117);
    font-weight: 600;
}
.container-one .shop {
    font-size: 80%;
    font-weight: 300;
}
/*鼠标悬空在商品时样式*/
.container-one .allproduct a:hover {
    color: rgb(113, 2, 117);
}

/*中间线*/
.centerline {
    background-color: black;
    width: 80%;
    height: 2px;
    margin: 10px auto;
}

/*第二板块*/
.container-two {
    position: relative;
    width: 100%;
    height: 40%;
    z-index: 10;
    text-align: center;
}

/*侧边栏*/
.sidebar {
    position: fixed;
    right: 1.5%;
    top: 20%;
    z-index: 20;
}
.sidebar img {
    width: 35px;
    height: 35px;

}
.sidebar ul li {
    background-color: rgba(128, 128, 128, 0.521);
    margin: 7% 0;
    padding: 3%;
    width: 40px;
    height: 40px;
    text-align: center;
}

/*页脚*/
footer {
    width: 100%;
    height: 20%;
    background: linear-gradient(rgba(128, 128, 128, 0.1), rgb(49, 49, 49));
    clear: both;
    text-align: center;
    z-index: 10;
}
footer a:link {
    color: black;
}
footer a:visited {
    color: black;
}
footer a:hover {
    color: white;
}
footer .content-L a:link {
    color: rgb(63, 63, 63);
}
footer .content-L a:visited {
    color: purple;
}
footer .content-L a:hover {
    color: white;
}
/*页脚上半部分*/
.footer-top {
    display: table;
    width: 90%;
    line-height: 170%;
    font-size: 15px;
}
footer .downline {
    border-bottom: 2px solid black;
}
footer h2 {
    margin-bottom: 15px;
}
/*页脚上半部分左侧*/
.content-L {
    display: table-cell;
    width: 40%;
    vertical-align: center;
}
.content-L p{
    text-align: left;
    margin-top: 2%;
    margin-left: 20%;
}
/*页脚上半部分中侧*/
.content-M {
    display: table-cell;
    width: 35%;
    vertical-align: center;
}
.content-M ul li {
    display: block;
    text-align: center;
}
/*页脚上半部分右侧*/
.content-R {
    display: table-cell;
    width: 25%;
    vertical-align: center;
    text-align: left;
}
.content-R img {
    width: 8%;
    height: 12%;
}
/*页脚下半部分*/
.end-line {
    border-block-end: 1px dashed rgba(255, 255, 255, 0.6);
}
.end {
    color: rgba(255, 255, 255, 0.6);

}
.end p {
    font-size: 90%;
}


/*登录注册框*/
.hide{
    display: none;
}
/*背景阴影*/
.c1{
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    background: rgba(0,0,0,.5);
    z-index: 30;
}
/*登录注册背景框*/
.c2{
    position: fixed;
    width: 400px;
    height: 305px;
    top: 50%;
    left: 50%;
    z-index: 30;
    margin-top: -150px;
    margin-left: -200px;
    text-align: center;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.8);} 
.c3{
    position: fixed;
    width: 400px;
    height: 310px;
    top: 50%;
    left: 50%;
    z-index: 30;
    margin-top: -150px;
    margin-left: -200px;
    text-align: center;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.8);
}
/*logo*/ 
.title {
    margin-top: 2%;
}
.title img {
    height: 91px;
    width: 146px;
}
/*输入表单*/
.c2 p input {
    margin: 0;
    margin-top: 2%;
    padding: 3%;
    padding-left: 12%;
    font-size: 82%;
    border-radius: 18px;
}
.c3 p input {
    margin: 0;
    margin-top: 2%;
    padding: 3%;
    padding-left: 12%;
    font-size: 82%;
    border-radius: 18px;
}
.text {
    margin-top: 1%;
    background-image: url("../image/user-name.png");
    background-color: rgba(253, 252, 252, 0.8);
    background-position: left;
    background-repeat: no-repeat;
    border: 1px solid black;
}
.password {
    margin-bottom: 1%;
    background-image: url("../image/password.png");
    background-color: rgba(253, 252, 252, 0.8);
    background-position: left;
    background-repeat: no-repeat;
    border: 1px solid black;
}
/*提交和关闭按钮*/
.sign-in{
    margin: 0;
    margin-top: 3%;
    cursor:pointer;
    padding: 2%;
    font-size: 100%;
    font-weight: 600;
    border-radius: 5%;
    background: linear-gradient(rgba(219, 219, 219, 0.6), rgba(250, 248, 248, 0.8), rgb(136, 136, 136,0.6));
    border: 1px solid black;
}
.close {
    margin: 0;
    margin-top: 3%;
    cursor:pointer;
    padding: 2%;
    font-size: 100%;
    font-weight: 600;
    border-radius: 5%;
    background: linear-gradient(rgba(136, 136, 136,0.6), rgb(250, 248, 248, 0.8), rgb(136, 136, 136,0.6));
    border: 1px solid black;
}
/*注册新账号or忘记密码？*/
.next {
    margin: 0 auto;
    margin-top: 4%;
}
.next .left {
    text-align: left;
}
.next .right {
    text-align: right;
}
.next .left a {
    padding: 0 10%;
    font-size: 100%;
    color: black;
    text-align: center;
}
.next .right a {
    padding: 0 10%;
    color: black;
}
.next a:link {
    font-weight: 400;
}
.next a:visited {
    font-weight: 600;
}
.next a:hover {
    font-weight: 600;
}
.next a:active {
    font-weight: 800;
    border-bottom: 1px solid gray;
}

/*动态类牛顿摆装饰*/
.loader {
    margin: 10px, 0;
    padding: 5%, 0;
}
.loader span {
    position: relative;
    margin: 0 10px; 
    width: 500px;
    height: 50px;
    background-color: black;
}
.loader span::before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background-color: black;
}
.loader span:first-child {
    animation: moving-left 3s infinite;
    animation-direction: alternate;
}
.loader span:last-child {
    animation: moving-right 3s infinite;
    animation-direction: alternate;
}
@keyframes moving-left {
    0%{
        left: 99px;
    }
    50%{
        left: 200px;
    }
    100%{
        left: 99px;
    }
}
@keyframes moving-right {
    0%{
        right: 99px;
    }
    50%{
        right: 200px;
    }
    100%{
        right: 99px;
    }
}

/*响应式布局*/
/* ----------- */
@media only screen
and (min-width : 1340px)
and (max-width : 958px) {
/* Styles如上 */
}
/* ----------- */
@media only screen
and (min-width : 1450px) {
    .all {
        width: 1450px;  /*凝胶布局*/
        margin-left: auto;
	    margin-right: auto;
    }
}
/* ----------- */
@media only screen
and (max-width : 958px) {

}

/*字体*/
@font-face {
    font-family: Font-one; 
    src:url("../font-family/SF-Pro.ttf"); 
}